body.dark-mode .targetElement {
    background: #000;
}

body.dark-mode #updates {
    background: #000;
}

body.dark-mode {
    background: #06090f;
}

body.dark-mode a {
    color: #723cc6;
    text-decoration: none;
}

body.dark-mode a:hover {
    color: #6833ba;
}

body.dark-mode p,
body.dark-mode h1,
body.dark-mode h2,
body.dark-mode label {
    color: #fff;
}

/* Button */
body.dark-mode .btn-primary {
    background-color: #723cc6;
    border-color: transparent;
}

body.dark-mode .btn-primary:hover {
    background-color: #6833ba;
    border-color: transparent;
}

body.dark-mode .btn-primary:focus,
body.dark-mode .btn-primary.focus {
    box-shadow: 0 0 0 .2rem rgba(104, 51, 186, 0.5)
}

body.dark-mode .btn-primary:active,
body.dark-mode .btn-primary:visited,
body.dark-mode .btn-primary:active:focus {
    background-color: #723cc6;
    border-color: transparent;
}

body.dark-mode .btn-primary:disabled, .btn-primary.disabled {
    background-color: #723cc6;
    border-color: transparent;
}

body.dark-mode .btn-primary:not(:disabled):not(.disabled):active,
body.dark-mode .btn-primary:not(:disabled):not(.disabled).active,
.show > body.dark-mode .btn-primary.dropdown-toggle {
    background-color: #612db0;
    border-color: transparent;
}

body.dark-mode .btn-primary:not(:disabled):not(.disabled):active:focus,
body.dark-mode .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > body.dark-mode .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgba(104, 51, 186, 0.5)
}

body.dark-mode .btn-outline-primary {
    color: #723cc6;
    background-color: transparent;
    background-image: none;
    border-color: transparent;
}

body.dark-mode .btn-outline-primary:hover {
    color: #6833ba;
    background-color: transparent;
    border-color: transparent;
}

body.dark-mode .btn-outline-primary:focus,
body.dark-mode .btn-outline-primary.focus {
    box-shadow: 0 0 0 .2rem rgba(114, 60, 198, 0.5)
}

body.dark-mode .btn-outline-primary.disabled,
body.dark-mode .btn-outline-primary:disabled {
    color: #723cc6;
    background-color: transparent
}

body.dark-mode .btn-outline-primary:not(:disabled):not(.disabled):active,
body.dark-mode .btn-outline-primary:not(:disabled):not(.disabled).active,
.show > body.dark-mode .btn-outline-primary.dropdown-toggle {
    color: #612db0;
    background-color: transparent;
    border-color: transparent;
}

body.dark-mode .btn-outline-primary:not(:disabled):not(.disabled):active:focus,
body.dark-mode .btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.show > body.dark-mode .btn-outline-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgba(114, 60, 198, 0.5)
}

body.dark-mode .addPlan-style {
    background: #06090f;
    border: transparent;
    border-radius: 0;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
}

body.dark-mode .addPlan-sm-style {
    display: flex;
    align-self: center;
    background: #161b22;
    border: transparent;
    border-radius: 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.4);
    min-height: 10vw;
    min-width: 10vw;
}

body.dark-mode .button-plan {
    background: transparent;
    border: transparent;
    font-size: 5vw;
    color: #612db0;
}

body.dark-mode .modal-header {
    background: #161b22;
    border: transparent;
}

body.dark-mode .modal-body {
    background: #161b22;
    border: transparent;
}

body.dark-mode .modal-footer {
    background: #161b22;
    border: transparent;
}

body.dark-mode .modal-text {
    font-family: 'Poppins SemiBold', sans-serif;
    color:  #612db0;
}

body.dark-mode .modal-button {
    background: #161b22;
    font-family: 'Poppins', sans-serif;
    border: transparent;
}

body.dark-mode .modal-input {
    background: #161b22;
    border-color: #612db0;
    border-radius: 4px;
}

body.dark-mode .header li .changeLang-button {
    font-size: 15px;
    background: transparent;
    border: transparent;
    font-family: 'Poppins', sans-serif;
    color: white;
}

body.dark-mode .header li .mx-2 {
    color: #612db0;
}

body.dark-mode .card-title {
    color: white;
}

body.dark-mode .addPlan-note {
    color: white;
}
