body {
    background: #CCBA92;
    font-family: 'Poppins', sans-serif;
}

a,
a:active,
a:visited {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #e36125;
}

h1, h2 {
    color: #695D47;
}

.backdrop h1 {
    font-weight: bold;
}

.backdrop img {
    display: flex;
    height: 393px;
    width: 515px;
}

.btn-primary {
    background-color: #f76d2e;
    border-color: transparent;
    border-radius: 10px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
}

.btn-primary:hover {
    background-color: #e36125;
    border-color: transparent;
}

.btn-primary:focus,
.btn-primary.focus {
    box-shadow: 0 0 0 .2rem rgba(227, 97, 37, 0.5);
}

.btn-primary:active,
.btn-primary:visited,
.btn-primary:active:focus {
    background-color: #f76d2e;
    border-color: transparent;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
    background-color: #db5514;
    border-color: transparent;
}

.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgba(227, 97, 37, 0.5);
}

.btn-outline-primary {
    color: #f76d2e;
    background-color: transparent;
    background-image: none;
    border-color: transparent;
}

.btn-outline-primary:hover {
    color: #e36125;
    background-color: transparent;
    border-color: transparent;
}

.btn-outline-primary:focus,
.btn-outline-primary.focus {
    box-shadow: 0 0 0 .2rem rgba(247, 109, 46, 0.5)
}

.btn-outline-primary.disabled,
.btn-outline-primary:disabled {
    color: #f76d2e;
    background-color: transparent
}

.btn-outline-primary:not(:disabled):not(.disabled):active,
.btn-outline-primary:not(:disabled):not(.disabled).active,
.show > .btn-outline-primary.dropdown-toggle {
    color: #db5514;
    background-color: transparent;
    border-color: transparent;
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgba(247, 109, 46, 0.5)
}

.btn-language {
    background-color: transparent;
    border-color: transparent;
    color: white;
    font-size: 15px;
    cursor: pointer;
}

.btn-language span:active,
.btn-language span:hover {
    text-decoration: underline;
}

.card-style {
    background: #9FE3D6;
    border: transparent;
    border-radius: 0;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
}

.card-style h2 {
    font-family: 'Poppins SemiBold', sans-serif;
    color: #000;
}

.card-style a {
    color: #f76d2e;
}

.header {
    background-color: #695d47;
    height: 10vh;
    width: 85vw;
    border-radius: 0 20px 20px 0;
}

.header a:hover {
    text-decoration: none;
}

.footer {
    background-color: #695d47;
    height: 7vh;
    width: 85vw;
    border-radius: 20px 0 0 20px;
    position: fixed;
    bottom: 0;
    right: 0;
}

.footer a:hover {
    text-decoration: none;
}

.icon {
    width: 50px;
    height: auto;
}

.login-card {
    min-height: 88vh;
    min-width: 39vw;
}




.footer li {
    list-style-type: none;
    margin: 0 2vw;
}

.footer ul {
    display: flex;
    margin: 0;
    padding: 0;
}


.header li {
    list-style-type: none;
    margin: 0 3vw;
    font-size: 30px;
}

.header li .changeLang-button {
    font-size: 15px;
    background: transparent;
    border: transparent;
    font-family: 'Poppins', sans-serif;
    color: white;
}

.header ul {
    display: flex;
    margin: 0;
    padding: 0;
}


.addPlan-style {
    background: #CCBA92;
    border: transparent;
    border-radius: 0;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
}

.addPlan-card {
    min-height: 76vh;
    min-width: 39vw;
}

.addPlan-sm-style {
    display: flex;
    align-self: center;
    background: #9FE3D6;
    border: transparent;
    border-radius: 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.4);
    min-height: 10vw;
    min-width: 10vw;
}

.addPlan-button {
    margin: 50px;
}

.addPlan-note {
    font-family: 'Poppins SemiBold', sans-serif;
    color:  #695D47;
}

.plus-logo {
    width: 2px;
    height: 2px;
}

.button-plan {
    background: transparent;
    border: transparent;
    font-size: 5vw;
    color: #f76d2e;
}

.modal-header {
    background: #CCBA92;
    border: transparent;
}

.modal-body {
    background: #CCBA92;
    border: transparent;
}

.modal-footer {
    background: #CCBA92;
    border: transparent;
}

.modal-text {
    font-family: 'Poppins SemiBold', sans-serif;
    color:  #695D47;
}

.modal-button {
    background: #CCBA92;
    font-family: 'Poppins', sans-serif;
    border: transparent;
}

.modal-input {
    background: #CCBA92;
    border-color: #695D47;
    border-radius: 4px;
}