body {
    background: #CCBA92;
    font-family: 'Poppins', sans-serif;
}

a,
a:active,
a:visited {
    color: #f76d2e;
    text-decoration: none;
}

a:hover {
    color: #e36125;
}

h1, h2 {
    color: #695D47;
}

.backdrop h1 {
    font-weight: bold;
}

.backdrop img {
    display: flex;
    height: 393px;
    width: 515px;
}

.btn-primary {
    background-color: #f76d2e;
    border-color: transparent;
    border-radius: 10px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
}

.btn-primary:hover {
    background-color: #e36125;
    border-color: transparent;
}

.btn-primary:focus,
.btn-primary.focus {
    box-shadow: 0 0 0 .2rem rgba(227, 97, 37, 0.5);
}

.btn-primary:active,
.btn-primary:visited,
.btn-primary:active:focus {
    background-color: #f76d2e;
    border-color: transparent;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
    background-color: #db5514;
    border-color: transparent;
}

.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgba(227, 97, 37, 0.5);
}

.btn-outline-primary {
    color: #f76d2e;
    background-color: transparent;
    background-image: none;
    border-color: transparent;
}

.btn-outline-primary:hover {
    color: #e36125;
    background-color: transparent;
    border-color: transparent;
}

.btn-outline-primary:focus,
.btn-outline-primary.focus {
    box-shadow: 0 0 0 .2rem rgba(247, 109, 46, 0.5)
}

.btn-outline-primary.disabled,
.btn-outline-primary:disabled {
    color: #f76d2e;
    background-color: transparent
}

.btn-outline-primary:not(:disabled):not(.disabled):active,
.btn-outline-primary:not(:disabled):not(.disabled).active,
.show > .btn-outline-primary.dropdown-toggle {
    color: #db5514;
    background-color: transparent;
    border-color: transparent;
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgba(247, 109, 46, 0.5)
}

.btn-language {
    background-color: transparent;
    border-color: transparent;
    color: white;
    font-size: 15px;
    cursor: pointer;
}

.btn-language span:active,
.btn-language span:hover {
    text-decoration: underline;
}
