input {
  display: block;
  height: 32px;
}

.edit-profile {
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.heading {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.label {
  display: inline-block;
  float: left;
  clear: left;
  width: 200px;
  font-family: "Poppins SemiBold", sans-serif;
}

.profile-card {
  min-height: 70vh;
  min-width: 40vw;
  color: #695d47;
}

.profile-style {
  background: #ccba92;
  border: transparent;
  border-radius: 0;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
}

.profile-title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.profile-title > h2 {
  margin-right: 2rem;
}

body.dark-mode .profile-style {
  background: #06090f;
  border: 1px solid #6e6e6e;
}
