.tabs-style {
    display: flex;
    justify-content: center;
    margin-right: 410px;
    margin-top: 5px;
    margin-bottom: -5px;
}

.activeTab {
    background: transparent;
    font-family: 'Poppins SemiBold', sans-serif;
    font-size: 20px;
    border: transparent;
    position: relative;
    left: 200px;
}

.notActiveTab {
    background: transparent;
    font-family: 'Poppins SemiBold', sans-serif;
    border: transparent;
    position: relative;
    left: 200px;
}

.tab-task-title {
    display: inline-flex;
    font-family: 'Poppins SemiBold', sans-serif;
    color:  #695D47;
    position: relative;
    font-size: 50px;
    margin-bottom: 20px;
}

.tab-task-owner {
    font-family: 'Poppins SemiBold', sans-serif;
    color: #695D47;
    font-size: 30px;
    margin: 10px;
}

.myPlan-card {
    min-height: 72vh;
    min-width: 39vw;
}

.tasks-sm-style-green {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    background: #81F781;
    border: transparent;
    border-radius: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    min-height: 6vw;
    min-width: 10vw;
    margin-top: 5px;
}
.tasks-sm-style-yellow {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    background: #F3F781;
    border: transparent;
    border-radius: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    min-height: 6vw;
    min-width: 10vw;
    margin-top: 5px;
}
.tasks-sm-style-red {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    background: #FA5858;
    border: transparent;
    border-radius: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    min-height: 6vw;
    min-width: 10vw;
    margin-top: 5px;
}

.taskCard-name {
    font-family: 'Poppins Bold', sans-serif;
    color: #695D47;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 20px;
}

.tasks-sm-style-btn {
    margin-bottom: 10px;
    font-size: 20px;
    margin-left: 30px;
    border: transparent;
    background: transparent;
}

.tasks-sm-style-btn-fullfill {
    margin-bottom: 10px;
    font-size: 20px;
    margin-left: 10px;
    border: transparent;
    background: transparent;

}

.users-sm-style {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    background: #9FE3D6;
    border: transparent;
    border-radius: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    min-height: 6vw;
    min-width: 10vw;
    margin-top: 5px;
}

.userCard-name {
    font-family: 'Poppins Bold', sans-serif;
    color: #695D47;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 25px;
}

.users-sm-style-btn {
    margin-bottom: 5px;
    font-size: 22px;
    background: transparent;
    border: transparent;
}




.owner-note {
    font-family: 'Poppins SemiBold', sans-serif;
    color:  #695D47;
    align-self: center;
    font-size: 40px;
    margin-top: 20px;
}


.users-owner-sm-style {
    display: flex;
    align-self: center;
    background: #db5514;
    border: transparent;
    border-radius: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    min-height: 6vw;
    min-width: 10vw;
    margin: 10px;
}


.user-owner-sm-style-red {
    display: flex;
    align-self: center;
    background: #db5514;
    border: transparent;
    border-radius: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    min-height: 6vw;
    min-width: 10vw;
    margin: 10px;
}

.show-profile-btn {
    background: transparent;
}

.delete-owner-btn {
    background: transparent;
}

.delete-task-btn {
    margin: 30px;
}

.refresh-btn {
    background: transparent;
    font-family: 'Poppins', sans-serif;
    size: 12px;
    margin: 10px;
    border: transparent;
    color:  #695D47;
    position: absolute;
    right: 25px;

}

.add-user-button{
    color:  #695D47;
    margin-left: 50px;
    border: transparent;
    background: transparent;
}


.chart-style {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.delete-plan-btn {
    background: transparent;
    font-family: 'Poppins', sans-serif;
    size: 12px;
    margin: 10px;
    border: transparent;
    color:  #695D47;
    position: absolute;
    right: 25px;
    top: -8px;
}





body.dark-mode .add-user-button {
    color: white;
}

body.dark-mode .refresh-btn {
    color: white;
}

body.dark-mode .tasks-sm-style-red {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    background: #540f0f;
    border: transparent;
    border-radius: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    min-height: 6vw;
    min-width: 10vw;
    margin-top: 5px;
}

body.dark-mode .tasks-sm-style-green {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    background: #1e7a2d;
    border: transparent;
    border-radius: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    min-height: 6vw;
    min-width: 10vw;
    margin-top: 5px;
}

body.dark-mode .tasks-sm-style-yellow {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    background: #a3ab20;
    border: transparent;
    border-radius: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    min-height: 6vw;
    min-width: 10vw;
    margin-top: 5px;
}

body.dark-mode .users-sm-style {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    background: #4e1860;
    border: transparent;
    border-radius: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    min-height: 6vw;
    min-width: 10vw;
    margin-top: 5px;
}

body.dark-mode .modal-text {
    color: white;
}

body.dark-mode .modal-input {
    color: white;
}

body.dark-mode .modal-button {
    color: white;
}

body.dark-mode .allUsersWithoutPlan-Text {
    color: white;
}