.footer {
    background-color: #695d47;
    height: 7vh;
    width: 85vw;
    border-radius: 30px 0 0 30px;
    position: fixed;
    bottom: 0;
    right: 0;
}

.footer a {
    color: white;
}

.footer a:visited {
    color: white;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: none;
}

body.dark-mode .footer {
    background: #161b22;
}
