.wrapper {
  height: 70vh;
  width: 40vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ccba92;
  z-index: 1;
}

.wrapper-cropper {
  height: 85%;
  padding: 0;
}

.cropper {
  height: 90%;
  position: relative;
}

.slider {
  height: 10%;
  display: flex;
  align-items: center;
  margin: auto;
  width: 60%;
}

.container-buttons {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cross {
  position: absolute;
  cursor: pointer;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.6;
}

.cross:hover {
  opacity: 1;
}

.cross:before,
.cross:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #695d47;
}

.cross:before {
  transform: rotate(45deg);
}

.cross:after {
  transform: rotate(-45deg);
}

body.dark-mode .wrapper {
  background-color: #06090f;
  border: 1px solid #6e6e6e;
}

body.dark-mode .cross:before,
body.dark-mode .cross:after {
  background-color: white;
}

body.dark-mode .container-buttons {
  border-top: 1px solid rgba(255, 255, 255, 0.4);
}
