.header {
    background-color: #695d47;
    height: 10vh;
    width: 85vw;
    border-radius: 0 20px 20px 0;
}

.header a:hover {
    text-decoration: none;
}

.icon {
    width: 50px;
    height: auto;
}

body.dark-mode .header {
    background-color: #161b22;
}
